@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@1,300&display=swap');

.cardPosicion{
      display: flex;
      justify-content: center;
}

.cardDescripcion{
      font-size: 1rem;
}
.cardText{
      text-align: start;
      font-family: 'Source Sans 3', sans-serif;
}