@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

.ImgCards{
      object-fit: contain;
      height: 13rem;
    }
    
    .Cards{
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 1rem;
      flex-wrap: wrap;
      gap: 1rem;
    }
    
    .card{
      align-items: center;
      text-align: center;
      background-color: rgba(31, 28, 28, 0.644) !important;
      font-family: 'DM Sans', sans-serif;
      color:rgb(255, 233, 233) !important;
    }

    .TituloCard{
      font-size: 1rem;
      
    }

    .tituloContenedor{
      text-align: center;
      align-items: center;
      color: rgb(34, 33, 33);
      font-family: 'Quicksand', sans-serif;
      font-weight:bold;
    }