.contenedor{
  margin: 0.5rem;
  /* background-image: linear-gradient(to bottom, #212529, #1c1d20, #171618, #0e0c0e, #000000); */
  border-radius: 0.5rem;
}


.ItemCount  span{
  color: black;
  padding: 1rem;
}


