.contenedor{
  margin: 0.5rem;
  background-position: center;
  background-size: cover;
  border-radius: 0.5rem;
  min-height: 35vh;
}


.ItemCount  span{
  color: black;
  padding: 1rem;
}

body{
  background-image: url("../public/image/Montaña.jpg");
  background-position: center;
  background-size:cover;
  width: auto !important;
  min-height: 100vh;
}



.ContainerCarritoVacio{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  min-height: 80vh;
}